.main{   
    .section-introductory{
        padding-top: adaptiv-indentation(28, 94, 320);
        
        &__title-text{
            font-weight: bold;
            font-size: 24px;
            line-height: $line-height;
            color:$body-secondary-text-color;
        }
        .title-text{
            @include adaptiv-font(36,22);
            color:inherit;
        }
        &__text{
            @include adaptiv-font(18,16);
            line-height: $line-height;
            padding-top: 20px;
            color: $body-primary-text-color;
        }
        &__text-under-paragraph{
            font-weight: 500;
            @include adaptiv-font(18,16);
            line-height: $line-height;
            padding-top: 13px;
            color: $body-secondary-text-color;
            display: block;
        }
        &__block-btn{
            text-align: center
        }
        &__btn{
            @include style-primary-btn;
            padding: 12px 0px;
            margin-top: 30px;
        }
        &__with-img{
            background-image: url("../img/main/section-introductory/section-introductory-img.jpg");
            @include style-BG;
            min-width: 256px;
            min-height: 247px;
        }
    }
    .section-why-we{
        margin-top: 40px;
    &__background{
        background-image: url("../img/main/section-why-we/background-section-why-we.png");
        @include style-BG;
    }
    &__title-text{
        @include style-text-titel;
        padding-bottom: adaptiv-indentation(32, 75, 320);
    }
    &__block-cause{
        display: grid;
        grid-template-columns: adaptiv-indentation(48, 80, 320) 1fr;
        align-items: center;
        gap: adaptiv-indentation(16, 0, 320);
        padding-bottom: 19px
    }
    &__icon{
        max-width: adaptiv-indentation(48, 80, 320);
        max-height: adaptiv-indentation(48, 80, 320); 
    }
    &__text{
        font-size:adaptiv-indentation(14, 16, 320);
        line-height: 171%;
        color: $body-primary-text-color;
    }
    }
    .section-info-join{
        &__block-with-description-actions *:not(:last-child){
            margin-bottom: 16px;
        }
        &__title-text{
            @include style-text-titel;
            padding-top: 47px;
            padding-bottom:adaptiv-indentation(22, 38, 320);
        }
        &__block-with-action{
           @include flex-container;
           gap: 18px;
        }
        &__block-with-action:nth-child(odd){
            flex-direction: row-reverse;
         }
        &__img-info{
           max-width: adaptiv-indentation(127, 187, 320);
           max-height: adaptiv-indentation(126, 165, 320);
        }
        &__description-text{
            @include adaptiv-font(16,12);
            line-height: 133%;
            color: $body-primary-text-color;
        }
        &__wrapper-for-btn{
            text-align: center;
        }
        &__btn{
            @include style-primary-btn;
            margin-top: adaptiv-indentation(21, 26, 320);
        }
        &__dotted-line{
        display: none;
        }
        &__number-actions{
            display: none;
        }
        @media (min-width:480px) and (max-width:699px) {
            &__block-with-description-actions{
                display: flex;
                flex-wrap: wrap;
            }
            &__block-with-action{
                @include flex-container;
             }
             &__block-with-action:nth-child(odd){
                 flex-direction: row;
              }
        }
    }
    .section-with-prices{
        padding-top: adaptiv-indentation(50, 64, 320);
        &__title-text{
            @include style-text-titel;
        }
        &__under-text{
            @include adaptiv-font(18,14);
            line-height: $line-height;
            color: $body-secondary-text-color;
            padding-top: adaptiv-indentation(11, 16, 320);
            padding-bottom: adaptiv-indentation(39, 53, 320);
        }
        &__block-prices{
            @include flex-container;
            flex-wrap: wrap;
            gap: adaptiv-indentation(25, 40, 320);
        }
       
        .block-price {
            box-shadow: 0px 2px 10px rgba(39, 49, 230, 0.2);
            border-radius: 10px;
            @include flex-container;
            flex-direction: column;
            padding: 27px adaptiv-indentation(10, 23, 320) 30px;
            &__img{
                max-width: 258px;
                min-height: 209px;
            }
            &__thing{
                font-weight: 500;
                line-height: 119%;
                padding: 8px 0px adaptiv-indentation(8, 13, 320);
            }
            &__price{
                font-weight: 600;
                @include adaptiv-font(16,20);
                line-height: 119%;
                padding-bottom:adaptiv-indentation(18, 27, 320);
            }
            &__btn{
               @include style-primary-btn;
               @include adaptiv-font(14.5,12);
               line-height: 124%;
               border-radius: 5px;
               min-width: adaptiv-indentation(265, 295, 320);
               height: adaptiv-indentation(31, 37, 320);
            }
        }
        .block-price--height{
            min-height: 373px;
            justify-content: space-between;
        }
    }
    .section-our-teachers{
        &__wrapper{
            text-align: center
        }
        &__title-text{
            @include style-text-titel;
            padding-top: adaptiv-indentation(40, 65, 320);
            padding-bottom: adaptiv-indentation(26, 45, 320);
        }
        &__blocks-with-info-teacher{
            @include flex-container;
            flex-wrap: wrap;
            gap: 26px;
            position: relative;
        }
        &__block-about-teacher{
            position: absolute;
            opacity: 0;
        }
        &__wrapper-blocks-with-info-teacher{
            display: inline-block;
        }
        .block-about-teacher--active{
            position: static;
            opacity: 1;
        }
        .block-about-teacher{
            background-color: #F4F4FD;
            box-shadow: 0px 2px 10px rgba(39, 49, 230, 0.2);
            padding: 16px 15px 24px;
            max-width: 328px;
            min-height: 364px;
            transition: 800ms;
            & *{
                margin-bottom: 2px;
            }
        &__img-teacher{
            width: 100%;
            max-width: 297px;
            max-height: 193px;
            margin-bottom: 24px;
        }
        &__name{
            font-weight: 600;
            font-size: 14px;
            line-height: 121%;
            color: $body-tretiary-color;
            text-align: left;
        }
        &__grade{
            @include grade-style;
        }
        &__basic-info{
            display: grid;
            grid-template-columns:  1fr 5fr;
            justify-items: start;
            column-gap: 10px;
        }
        &__info{
            font-weight: 600;
            font-size: 12px;
            line-height: 125%;
            color: $body-primary-text-color;
        }
        &__experience{
            font-size: 14px;
            line-height: 121%;
            color: $body-primary-text-color;
            text-align: left;
        }
        
        }
        &__block-btn-teacher{
            text-align: right;
        }
        &__btn-teacher{
            @include style-additional-btn;
            margin-top: 26px;
            cursor: pointer;
            display: none;
        }
        .btn-teacher--show{
            display: inline-block;
        }
        &__block-btn{
            text-align: center;
        }
        &__btn{
            margin-top: adaptiv-indentation(31, 36, 375);
            @include style-primary-btn;
        }
    }
    .section-comment{
        margin-bottom: adaptiv-indentation(46, 64, 320);
        &__wrapper-sliders{
            width: 100%;
            overflow: hidden;
        }
        &__title-text{
            @include style-text-titel;
            padding-top: adaptiv-indentation(36, 64, 320);
            padding-bottom: adaptiv-indentation(15, 57, 320);
        }
        &__sliders{
            min-width: 1400px;
            height: 100%;
            padding: 5px;
            display: grid;
            grid-template-columns: repeat(5,328px);
            gap: 20px;
        }
        .slide{
            max-width: 328px;
            max-height: 395px;
            display: flex;
            flex-wrap: wrap;
            gap: 21px;
            align-items: center;
            padding: 27px 33px;
            box-shadow: 0px 2.02462px 10.1231px rgba(64, 123, 255, 0.2);
            border-radius: 10px;
            user-select: none;
            pointer-events: none;
            &__img-avatar{
                width: 64.15px;
                height: 53.46px;
            }
            &__name{
                font-size: 18px;
                line-height: 88.8%;
            }
            &__grade{
                @include grade-style;
            }
            &__img-comment{
                width: 261.29px;
                height: 266.8px;
            }
        }
        &__wrapper-additional-btn{
            text-align: right;
        }
        &__additional-btn{
            @include style-additional-btn;
            margin-top: adaptiv-indentation(43, 51, 320);
        }
    }
    .section-questionnaire{
        padding-top: adaptiv-indentation(41, 62, 320);
        &__wrapper{
            min-height: 614px;
            @include flex-container;
            padding-bottom: adaptiv-indentation(40, 66, 320);
        }
        &__block-with-girl{
            @include flex-container;
            gap: 30px;
            flex-direction: column;
            justify-content: end;
            align-items: flex-end;
        }
        .word-bubble{
            border: 1.5px solid #013D48;
            width:adaptiv-indentation(300,364, 320);
            height: 141px;
            border-radius: 100%;
            background-color: #fff;
            @include flex-container;
            position: relative;
            .text{
                width: adaptiv-indentation(259,281, 320);
                height: 62px;
                font-size: adaptiv-indentation(14,16, 320);;
                line-height: $line-height;
            &__dedicated{
                color: $body-primary-btn-color;
                font-weight: 700;
            }
            }
            &:after,
            &:before {
                top: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
               }
            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-top-color: #ffffff;
                border-width: 18px;
                left: 50%;
                margin-left: -18px;
               }
            &:before {
                border-color: rgba(125, 145, 133, 0);
                border-top-color: #013D48;
                border-width: 19px;
                left: 50%;
                margin-left: -19px;
            }
        }
        &__img{
            max-width: adaptiv-indentation(150, 233, 320);
            max-height: adaptiv-indentation(153, 236, 320);
            position: relative;
            z-index: 2; 
        }
        .form{
            width: adaptiv-indentation(280, 340, 320);
            background-color: #fff;
            margin: 0 70px;
            padding: 46px 19px 15px;
            box-sizing: border-box;
            box-shadow: 0px 2px 10px rgba(64, 123, 255, 0.2);
            border-radius: 10px;
            position: relative;
            z-index: 1;
            margin-top: 160px;
            &__input{
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid $body-primary-btn-color;
                box-sizing: border-box;
                margin-top: 8px;
                padding: 0px 9px;
                font-size: 14px;
                line-height: 19px;
                color: $body-primary-text-color;
                &::placeholder{
                    font-size: 14px;
                    line-height: 19px;
                    color: #C4C4C4;
                }
            }
            .input--radio{
                margin-top: 0px;
            }
            .div--input{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 9px;
                position: relative;
                z-index: 10;
                background-color: #fff;
            }
            &__label{
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 17px;
                color:$main-questionnaire-text;
                margin-top: 18px;
                display: block;
            }
            .label--radio{
                box-shadow: 0px 2px 4px rgba(224, 224, 224, 0.7);
                border-radius: 14px;
                padding: 15px 35px;
                position: relative;
                z-index: 10;
                margin-top: 0px;
                &::before{
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    border: 1px solid $body-primary-btn-color;
                    background-color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    left: 0px;
                    transform:translate(60%, -55%);
                    z-index: 1;
                    transition: linear, border .1s linear;
                    
                  }
                  &::after{
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: $body-primary-btn-color;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    left: 0px;
                    transform:translate(68%, -55%);
                    z-index: 2;
                    opacity: 0;
                  } 
            }
            .input--radio:checked + .label--radio::before{
                border-color: $body-primary-btn-color;
              }
            .input--radio:checked + .label--radio::after{
                opacity: 1;
            }
            #select{
                position: relative;
                &.open{
                    .form__dropdown{
                        margin-top: 20px;
                        top: 0px;
                        max-height: 200px;
                        padding-bottom: 20px;
                        box-sizing: border-box;
                        z-index: 0;
                    }
                }
            }
            &__dropdown{
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 0px;
                max-height: 0px;
                position: relative;
                overflow-y:auto;
                transition: 700ms;
                z-index: 0;
                &::-webkit-scrollbar{
                    width: 0;
                  }
            }
            .fas{
                transition: 500ms;
                color: #C4C4C4;
            }
            &__value{
                border: none;
                font-size: 14px;
                line-height: 19px;
                color: $body-primary-text-color;
                width: 55px;
                &::placeholder{
                    font-size: 14px;
                    line-height: 19px;
                    color: #C4C4C4;
                }
            }
            &__arrow{
              transform: rotate(-90deg);
            }
            &__btn{
                @include style-primary-btn;
                background-color: #8B969C;
                margin-top:32px;
            }
        }
    }
    @include phone{
        .section-why-we{
            margin-top: 40px;
        &__background{
            background-image: url("../img/main/background-section-why-we.png");
            @include style-BG;
            background-position: 80% 20px;
            
            }
        }
        .section-with-prices{
            &__btn{
                max-width: 309px;
                height: 31px;
            } 
        }
        .section-our-teachers{
            &__title-text{
                text-align: left;
            }
        }
        .section-questionnaire{
            &__wrapper{
                @include flex-container;
                flex-direction: column;
            }
            &__block-with-girl{
                @include flex-container;
                flex-direction: column;
                gap: 24px;
                align-self: center;
            }
            .form{
                margin-top: adaptiv-indentation(-24, -27, 320);
                align-self:center;
            }
        }
    }
    @include tablet{
        .section-introductory{
            &__interior-block{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: 1fr 78px;
            }
            &__block-btn{
                text-align: left
            }
            &__title-text{
                font-size: 36px;
            }
        }
        .section-why-we{
            text-align: center;
        &__block-with-all-cause{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: repeat(2,1fr);
          column-gap: adaptiv-indentation(2, 160, 320);
          row-gap: adaptiv-indentation(10, 87, 320);
        }
        &__block-cause{
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: repeat(2,1fr);
           text-align: center;
        }
        }
        .section-info-join{
            background-color: #DEF2FF;
            &__wrapper{
               margin-top: 35px;
               text-align: center;
               padding-bottom: adaptiv-indentation(0, 53, 375);
            }
            &__block-with-description-actions {
                display: flex;
                align-items: flex-start;
                
            }
            &__number-actions{
                display: block;
                padding: 12px 20px;
                border-radius: 50%;
                background-color:  #76B7ED;
                color: #fff;
                font-weight: bold;
                font-size: 27px;
                line-height: 111%;
            }
            &__block-with-action{
               flex-direction: column;
            }
            &__block-with-action:nth-child(odd){
                flex-direction: column;
             }
             &__block-with-action:nth-child(1){
                padding-top: 173px;
                padding-right: adaptiv-indentation(10, 146, 700);
             }
             &__block-with-action:nth-child(2){
                padding-top: 133px;
                padding-right: adaptiv-indentation(10, 95, 700);
             }
             &__block-with-action:nth-child(3){
                padding-top: 58px;
                padding-right: adaptiv-indentation(10, 115, 700);
             }
            &__img-info{
               max-width: adaptiv-indentation(127, 187, 320);
               max-height: adaptiv-indentation(126, 165, 320);
            }
        }
        .section-with-prices{
            text-align: center;
            &__under-text{
                max-width: 393px;
                margin: 0 auto;
                }
        }
        .section-our-teachers{
            &__block-about-teacher:nth-child(2){
                position: static;
                opacity: 1;
                justify-self: start;
            }
            &__block-about-teacher:nth-child(even){
                justify-self: start;
            }
            &__blocks-with-info-teacher{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: end;
            }
        }
        .section-comment{
            &__wrapper-sliders{
                width: 100%;
                overflow: hidden;
            }
            &__title-text{
                text-align: center;
            }
            &__sliders{
                min-width: 1400px;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(5,328px);
                gap: 20px;
            }
            .slide{
                max-width: 328px;
                max-height: 395px;
                display: flex;
                flex-wrap: wrap;
                gap: 21px;
                align-items: center;
                padding: 27px 33px;
                box-shadow: 0px 2.02462px 10.1231px rgba(64, 123, 255, 0.2);
                border-radius: 10px;
                user-select: none;
                pointer-events: none;
                &__img-avatar{
                    width: 64.15px;
                    height: 53.46px;
                }
                &__name{
                    font-size: 18px;
                    line-height: 88.8%;
                }
                &__grade{
                    @include grade-style;
                }
                &__img-comment{
                    width: 261.29px;
                    height: 266.8px;
                }
            }
        }
        .section-questionnaire{
            &__wrapper{
                @include flex-container;
                flex-direction: column;
            }
            &__block-with-girl{
                @include flex-container;
                flex-direction: column;
                gap: 24px;
                align-self:center;
            }
            .form{
                margin-top: adaptiv-indentation(-27, -33, 320);
                align-self:center;
            }
        }
    }
    @include desktop{
        .section-introductory{
            &__interior-block{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: minmax(340px,400px) 78px;
            }
            &__title-text{
                font-size: 48px;
            }
            &__btn{
               max-width: 328px;
            }
            &__with-img{
                height: 420px;
            }
            &__block-btn{
                text-align: left
            }
        }
        .section-why-we{
            text-align: center;
            &__block-with-all-cause{
              display: grid;
              grid-template-columns: repeat(3,1fr);
              grid-template-rows: repeat(2,1fr);
              column-gap: adaptiv-indentation(2, 160, 320);
              row-gap: adaptiv-indentation(10, 87, 320);
            }
            &__block-cause{
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: repeat(2,1fr);
               text-align: center;
            }
            }
        .section-info-join{
            background-color: #DEF2FF;
            &__wrapper{ 
               margin-top: 35px;
               text-align: center;
               padding-bottom: adaptiv-indentation(0, 53, 375);
            }
            &__block-with-description-actions {
                display: flex;
                align-items: flex-start;
                position: relative;
            }
            &__number-actions{
                display: block;
                padding: 12px 20px;
                border-radius: 50%;
                background-color:  #76B7ED;
                color: #fff;
                font-weight: bold;
                font-size: 27px;
                line-height: 111%;
                position: relative;
                z-index: 1;
            }
            &__block-with-action{
               flex-direction: column;
            }
            &__block-with-action:nth-child(odd){
                flex-direction: column;
             }
             &__block-with-action:nth-child(1){
                padding-top: 210px;
                padding-right: 131px;
             }
             &__block-with-action:nth-child(2){
                padding-top: 160px;
                padding-right: 87px;
             }
             &__block-with-action:nth-child(3){
                padding-top: 58px;
                padding-right: 149px;
             }
            &__img-info{
               max-width: 127px;
               max-height: 126px;
            }
            &__dotted-line{
                display: block;
                position: absolute;
                top: 125px;
                left: 3%;
                max-width: 998px;
               max-height: 281px;
            }
        }
        .section-with-prices{
            text-align: center;
            &__under-text{
                max-width: 393px;
                margin: 0 auto;
                }
        }
        .section-our-teachers{
            &__block-about-teacher:nth-child(2),
            &__block-about-teacher:nth-child(3){
                position: static;
                opacity: 1;
            }
            &__blocks-with-info-teacher{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .section-comment{
            &__wrapper-sliders{
                width: 100%;
                overflow: hidden;
            }
            &__title-text{
               text-align: center;
            }
            &__sliders{
                min-width: 1400px;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(5,328px);
                gap: 20px;
            }
            .slide{
                max-width: 328px;
                max-height: 395px;
                display: flex;
                flex-wrap: wrap;
                gap: 21px;
                align-items: center;
                padding: 27px 33px;
                box-shadow: 0px 2.02462px 10.1231px rgba(64, 123, 255, 0.2);
                border-radius: 10px;
                user-select: none;
                pointer-events: none;
                &__img-avatar{
                    width: 64.15px;
                    height: 53.46px;
                }
                &__name{
                    font-size: 18px;
                    line-height: 88.8%;
                }
                &__grade{
                    @include grade-style;
                }
                &__img-comment{
                    width: 261.29px;
                    height: 266.8px;
                }
            }
        }
        .section-questionnaire{
            background-color: #DEF2FF;
        }
    }
}