$body-primary-text-color:#000;
$body-secondary-text-color: #013D48;
$body-tretiary-color:#120F0F;
$body-primary-btn-color:#4797C8;
$main-questionnaire-text: #263238;
$width-mobile:320px;
$width-tablet:700px;
$width-desktop:993px;
$maxWidth:1200;
$line-height: 135%;
