@import "reset";
@import "mixins";
@import "function";
@import "variables";
@import "components/allComponents.scss";
.container{
    max-width: 1200px;
    padding: 0px 24px;
    margin: 0 auto;
}
body{
    overflow: hidden; 
}
.stop-scroll{
    overflow: visible;
}